In [20]:
import pandas as pd

In [28]:
# dir(pd)

In [45]:
df = pd.read_csv ("student data.csv")

In [50]:
# print(df)

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   roll no     50 non-null     int64
 1   Name        50 non-null     object
 2   Chemistry   50 non-null     int64
 3   Physics     50 non-null     int64
 4   Math        50 non-null     int64
 5   total       50 non-null     int64
 6   Percentage  50 non-null     float64
 7   Grade       50 non-null     object
dtypes: float64(1), int64(5), object(2)
memory usage: 3.3+ KB

In [30]:
# now we use find grade

In [52]:
def assign_grade(Percentage):
    if Percentage >= 80:
        return 'A'
    elif Percentage >= 70:
        return 'B'
    elif Percentage >= 60:
        return 'C'
    elif Percentage >= 50:
        return 'D'
    else:
         return 'F'
df['Grade'] = df['Percentage'].apply(assign_grade)
print(df)

    roll no       Name  Chemistry  Physics  Math  total  Percentage Grade
0       101      Aliza         50       23    87    160   53.333333     D
1       102     Fareed         45       24    88    157   52.333333     D
2       103      Basit         46       25    89    160   53.333333     D
3       104   Abdullah         47       26    90    163   54.333333     D
4       105        Ali         48       27    67    142   47.333333     F
5       106   Mubashir         49       28    68    145   48.333333     F
6       107     Waleed         50       29    69    148   49.333333     F
7       108    Mansoor         51       30    70    151   50.333333     D
8       109       Zain         52       31    71    154   51.333333     D
9       110     Mohsin         53       67    72    192   64.000000     C
10      111   Shahmeer         54       68    73    195   65.000000     C
11      112        Rao         55       69    74    198   66.000000     C
12      113  Aurangzeb         56       70    75    201   67.000000     C
13      114    Zeeshan         57       71    76    204   68.000000     C
14      115      Hamna         58       72    77    207   69.000000     C
15      116      Hamza         59       73    78    210   70.000000     B
16      117     Khalid         60       74    79    213   71.000000     B
17      118     Behroz         61       75    80    216   72.000000     B
18      119     Justin         62       76    81    219   73.000000     B
19      120     Danish         63       77    82    222   74.000000     B
20      121     Kainat         64       78    83    225   75.000000     B
21      122     Sameer         65       79    84    228   76.000000     B
22      123       Raza         66       80    85    231   77.000000     B
23      124      Kumar         67       81    86    234   78.000000     B
24      125      Komal         68       82    87    237   79.000000     B
25      126       Erum         69       83    88    240   80.000000     A
26      127      Faiza         70       84    89    243   81.000000     A
27      128      Saeed         71       85    90    246   82.000000     A
28      129      Waqar         72       86    91    249   83.000000     A
29      130       Wali         73       87    92    252   84.000000     A
30      131      Wajid         74       88    93    255   85.000000     A
31      132     Waseeb         75       89    94    258   86.000000     A
32      133      Shiza         76       90    95    261   87.000000     A
33      134    Shabina         77       91    96    264   88.000000     A
34      135    Shazain         78       55    97    230   76.666667     B
35      136      Lubna         79       61    98    238   79.333333     B
36      137      Laiba         80       88    78    246   82.000000     A
37      138  Khursheed         81       56    45    182   60.666667     C
38      139        Ali         82       89    46    217   72.333333     B
39      140       Aiza         83       45    89    217   72.333333     B
40      141      Aiman         84       92    78    254   84.666667     A
41      142    Yasmeen         85       36    56    177   59.000000     D
42      143    Tasbeel         86       78    78    242   80.666667     A
43      144     Laraib         87       56    54    197   65.666667     C
44      145     Saleem         88       78    78    244   81.333333     A
45      146     Bismil         89       89    46    224   74.666667     B
46      147     Batool         90       56    79    225   75.000000     B
47      148       Iqra         91       33    46    170   56.666667     D
48      149    Zarnish         92       78    45    215   71.666667     B
49      150       Zara         83       45    56    184   61.333333     C